/* CSS Resets */
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Styles */

@font-face {
    font-family: 'norse-bold';
    src: url(assets/fonts/Norse-Bold.otf);
}

:root {
    --main-font: 'norse-bold';
    --primary-color: #596D48;
    --white-100: #E5E7EB;
}
