/* CSS Resets */
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Styles */

@font-face {
    font-family: 'norse-bold';
    src: url(assets/fonts/Norse-Bold.otf);
}

:root {
    --main-font: 'norse-bold';
    --primary-color: #596D48;
    --white-100: #E5E7EB;
}

body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-section {
    flex: 1 1 0px;
    background: url(assets/images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat left center / cover;
    color: var(--white-100);
    position: relative;
    max-width: 1200px;
}

.logo {
    background-color: rgb(0 0 0 / 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin-block-start: 200px;
}

.logo img {
    width: 100px;
}

.logo h1 {
    font-family: var(--main-font);
    font-size: 7rem;
    line-height: 0;
}

.left-section footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
}

.left-section p {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.left-section footer a {
    color: inherit;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px;
    flex-basis: 1200px;
    font-size: 1.3rem;
}

.form-intro {
    font-weight: bold;
    line-height: 1.2;
    margin-block-end: 80px;
}

.form-intro p:first-of-type {
    margin-block-end: 24px;
}

.form fieldset {
    margin-inline: -48px;
    padding-inline: 48px;
    border: none;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
}

.form fieldset legend {
    padding: 0;
    font-weight: bold;
}
